.page {
  background-color: rgb(246, 125, 181);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  width: 100vw;
}

.title {
  font-size: 1.3rem;
}

.score {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(233, 208, 97);
}

.show-message {
  /* position: absolute;
  bottom: 1rem; */
  cursor: pointer;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.text-message {
  height: 50vh;
  opacity: 60%;
  background-color: rgb(255, 218, 188);
  color: rgb(228, 24, 119);
  border-radius: 10px;
  border: none;
  padding: 1rem;
  margin: 10px;
  overflow-y: scroll;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frog {
  width: 25px;
  margin-right: 10px;
}

.chick {
  width: 30px;
  margin-left: 10px;
}

.rotating {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marquee {
  font-family: "Caveat", cursive;
  margin-top: 1.2rem;
  color: #ffee2f;
}
