.background {
  background-color: #fde9e7;
  color: #fe9fb8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1rem 0;
}

.image {
  max-width: 85vw;
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #fe9fb8;
  padding: 10px;
}

.photo {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: contain;
  background-color: #fff;
}

button {
  display: block;
  margin: 0 auto;
}

.answer-section {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  background-color: rgb(255, 218, 188);
  margin-top: 1.5rem;
  padding: 10px 0;
}

.answer-display {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.answer-title {
  color: rgb(35, 203, 119);
  margin: 0;
}

.answer-message {
  color: rgb(233, 208, 97);
  margin: 0;
}

.input {
  font-size: 1.2em;
  font-weight: bold;
  color: #fea53f;
  margin: 0.5em;
}

.wrong-answer {
  font-size: 1.2em;
  color: rgb(246, 125, 181);
  margin: 0.5em;
}
